<div class="toolbar">

  <div class="container row">
    <span style="width: 1em;"></span>
    <span class="material-icons" style="font-size: 4em;">logo_dev</span>
    <span style="width: 1em;"></span>
    <a href="#">
      <span class="material-icons">home</span>
      <span style="width: 4px;"></span>
      Home
    </a>
    <a href="#">
      <span class="material-icons">add_circle</span>
      <span style="width: 4px;"></span>
      Cadastro
    </a>
    <a href="#">
      <span class="material-icons">density_medium</span>
      <span style="width: 4px;"></span>
      Items
    </a>
    <a href="#">
      <span class="material-icons">person</span>
      <span style="width: 4px;"></span>
      Login
    </a>
  </div>

  <div class="search">
    <input type="text">
    <a href="#">
      <span class="material-icons">search</span>
    </a>
  </div>
</div>

<div class="container padding-y-2" style="width: 100%;">

  <div class="container content-card row margin-half xlg">

    <div class="container column md" style="margin: auto;">
      <h3 class="margin-2">Seja bem-vindo!</h3>
    </div>
    <div class="container column" style="margin: auto;">
      <img
        src="
        https://media.istockphoto.com/photos/smiling-businesswoman-greeting-a-colleague-on-a-meeting-picture-id1365634396?b=1&k=20&m=1365634396&s=170667a&w=0&h=P7_QKblF8bj4c46E4HC4ir1-ExdIijG5gK8ER3uqtcQ="
        alt=" image">
    </div>
  </div>

  <div class="container row margin-y-2" style="justify-content:center;">

    <div class="container column content-card sm margin-half margin-y-1 padding-1 rise-hover"
      style="animation-delay: 100ms;">
      <span style="height: 8px;"></span>
      <span class="material-icons" style="font-size: 3em;">logo_dev</span>
      <span style="height: 1em;"></span>
      <p class="line-height-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit.
        <span style="height: 8px;"></span>
      </p>
      <span style="height: 1em;"></span>
    </div>

    <div class="container column content-card sm margin-half margin-y-1 padding-1 rise-hover"
      style="animation-delay: 100ms;">
      <span style="height: 8px;"></span>
      <span class="material-icons" style="font-size: 3em;">check_circle</span>
      <span style="height: 1em;"></span>
      <p class="line-height-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit.
        <span style="height: 8px;"></span>
      </p>
      <span style="height: 1em;"></span>
    </div>

    <div class="container column content-card sm margin-half margin-y-1 padding-1 rise-hover"
      style="animation-delay: 200ms;">
      <span style="height: 8px;"></span>
      <span class="material-icons" style="font-size: 3em;">settings_accessibility</span>
      <span style="height: 1em;"></span>
      <p class="line-height-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit.
        <span style="height: 8px;"></span>
      </p>
      <span style="height: 1em;"></span>
    </div>

    <div class="container column content-card sm margin-half margin-y-1 padding-1 rise-hover"
      style="animation-delay: 300ms;">
      <span style="height: 8px;"></span>
      <span class="material-icons" style="font-size: 3em;">install_mobile</span>
      <span style="height: 1em;"></span>
      <p class="line-height-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit.
        <span style="height: 8px;"></span>
      </p>
      <span style="height: 1em;"></span>
    </div>

    <div class="container column content-card sm margin-half margin-y-1 padding-1 rise-hover"
      style="animation-delay: 400ms;">
      <span style="height: 8px;"></span>
      <span class="material-icons" style="font-size: 3em;">install_desktop</span>
      <span style="height: 1em;"></span>
      <p class="line-height-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit.
        <span style="height: 8px;"></span>
      </p>
      <span style="height: 1em;"></span>
    </div>


  </div>

</div>