<div class="toolbar">

  <div class="container row">
    <span style="width: 1em;"></span>
    <span class="material-icons" style="font-size: 4em;">logo_dev</span>
    <span style="width: 1em;"></span>
    <a href="#">
      <span class="material-icons">home</span>
      <span style="width: 4px;"></span>
      Home
    </a>
    <a href="#">
      <span class="material-icons">add_circle</span>
      <span style="width: 4px;"></span>
      Cadastro
    </a>
    <a href="#">
      <span class="material-icons">density_medium</span>
      <span style="width: 4px;"></span>
      Items
    </a>
    <a href="#">
      <span class="material-icons">person</span>
      <span style="width: 4px;"></span>
      Login
    </a>
  </div>

  <div class="search">
    <input type="text">
    <a href="#">
      <span class="material-icons">search</span>
    </a>
  </div>
</div>

<div class="container padding-y-2" style="width: 100%;">

  <div class="container content-card margin-1">
    <div class="container row">
      <div class="container column padding-1 text-align-start align-items-start md">
        <h2 class="padding-y-1"> Seja bem-vindo!</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem ullam, eos porro deleniti eligendi
          voluptatem
          asperiores molestiae cumque quod saepe doloremque quam nobis expedita eaque dolores esse atque. Nam, modi!
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem ullam, eos porro deleniti eligendi
          voluptatem
          asperiores molestiae cumque quod saepe doloremque quam nobis expedita eaque dolores esse atque. Nam, modi!</p>
      </div>
      <div class="container column padding-1 md">
        <img
          src="
        https://media.istockphoto.com/photos/smiling-businesswoman-greeting-a-colleague-on-a-meeting-picture-id1365634396?b=1&k=20&m=1365634396&s=170667a&w=0&h=P7_QKblF8bj4c46E4HC4ir1-ExdIijG5gK8ER3uqtcQ="
          alt=" image">
      </div>
    </div>
  </div>

  <div class="container row margin-y-2">

    <div class="container column content-card xsm margin-1 padding-1 rise-hover">
      <span style="height: 8px;"></span>
      <span class="material-icons" style="font-size: 3em;">logo_dev</span>
      <span style="height: 1em;"></span>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex voluptatum optio aliquid, soluta neque
        provident?
        <span style="height: 8px;"></span>
      </p>
      <span style="height: 1em;"></span>
    </div>

    <div class="container column content-card xsm margin-1 padding-1 rise-hover">
      <span style="height: 8px;"></span>
      <span class="material-icons" style="font-size: 3em;">check_circle</span>
      <span style="height: 1em;"></span>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex voluptatum optio aliquid, soluta neque
        provident?
        <span style="height: 8px;"></span>
      </p>
      <span style="height: 1em;"></span>
    </div>

    <div class="container column content-card xsm margin-1 padding-1 rise-hover">
      <span style="height: 8px;"></span>
      <span class="material-icons" style="font-size: 3em;">settings_accessibility</span>
      <span style="height: 1em;"></span>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex voluptatum optio aliquid, soluta neque
        provident?
        <span style="height: 8px;"></span>
      </p>
      <span style="height: 1em;"></span>
    </div>

    <div class="container column content-card xsm margin-1 padding-1 rise-hover">
      <span style="height: 8px;"></span>
      <span class="material-icons" style="font-size: 3em;">install_mobile</span>
      <span style="height: 1em;"></span>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex voluptatum optio aliquid, soluta neque
        provident?
        <span style="height: 8px;"></span>
      </p>
      <span style="height: 1em;"></span>
    </div>

    <div class="container column content-card xsm margin-1 padding-1 rise-hover">
      <span style="height: 8px;"></span>
      <span class="material-icons" style="font-size: 3em;">install_desktop</span>
      <span style="height: 1em;"></span>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex voluptatum optio aliquid, soluta neque
        provident?
        <span style="height: 8px;"></span>
      </p>
      <span style="height: 1em;"></span>
    </div>


  </div>

</div>